.git/
__pycache__/
venv/
output/
data/
deploy/
examples/
igra-datas/
splat-runs/
maps/

*.md
*.csv
*.json
.gitignore
docker-push.sh

configs/.latitude
configs/.longitude
configs/.subdomain
configs/__pycache__/
unzipped_hgt_files/
srtm_hgt_files/

.vscode/
.idea/
